<div class="flex flex-wrap -mx-3 mb-5">
  <div class="w-full max-w-full px-3 mb-6  mx-auto">
    <div class="relative flex-[1_auto] flex flex-col break-words min-w-0 bg-clip-border rounded-[.95rem] bg-white m-5">
      <div
        class="relative flex flex-col min-w-0 break-words border border-dashed bg-clip-border rounded-2xl border-stone-200 bg-light/30">
        <!-- card header -->
        <div class="px-9 pt-5 flex justify-between items-stretch flex-wrap min-h-[70px] pb-0 bg-transparent">
          <h3 class="flex flex-col items-start justify-center m-2 ml-0 font-medium text-xl/tight text-dark">
            <span class="mr-3 font-semibold text-dark">Ordenes de construcción</span>
            <span class="mt-1 font-medium text-secondary-dark text-lg/normal">Todas las órdenes de construcción</span>
          </h3>
          <div class="relative flex flex-wrap items-center my-2">

            <button (click)="addOrden()"
              class="inline-block text-[.925rem] font-medium leading-normal text-center align-middle cursor-pointer rounded-2xl transition-colors duration-150 ease-in-out text-white bg-blue-600/80 border-0 py-2 px-5 shadow hover:bg-blue-700 active:bg-blue-800 focus:ring-2 focus:ring-blue-400">
              Agregar orden
            </button>
          </div>
        </div>
        <ng-container *ngIf="ordenes">
          <div class="flex-auto block py-8 pt-6 px-9">
            <div class="overflow-x-auto">
              <table class="w-full my-0 align-middle text-dark border-neutral-200">
                <thead class="align-bottom">
                  <tr class="font-semibold text-[0.95rem] text-secondary-dark">
                    <th class="pb-3 text-start min-w-[100px]">Tipo</th>
                    <th class="pb-3 text-center min-w-[150px]">Solicitud</th>
                    <th class="pb-3 text-center min-w-[150px]">Requerimientos</th>
                    <th class="pb-3 text-center min-w-[120px]">Duración (días)</th>
                    <th class="pb-3 text-center min-w-[150px]">Coordenadas</th>
                    <th class="pb-3 text-center min-w-[150px]">Inicio</th>
                    <th class="pb-3 text-center min-w-[150px]">Fin</th>
                    <th class="pb-3 text-center min-w-[120px]">Estado</th>

                  </tr>
                </thead>

                <tbody>
                  <tr *ngFor="let orden of ordenes"
                    class="border-b border-dashed last:border-b-0 hover:bg-neutral-50 transition-colors">
                    <!-- Tipo -->
                    <td class="p-3 text-start">
                      <span class=" text-light-inverse text-md/normal">
                        {{ orden.tipo.nombre }}
                      </span>
                    </td>
                    <!-- Solicitud -->
                    <td class="p-3 text-center">
                      <span class="">{{ orden.fechaSolicitud }}</span>
                    </td>

                    <!-- Requerimientos -->
                    <td class="p-3 text-center">
                      <div class="text-sm text-gray-700">
                        <div *ngFor="let item of (orden.tipo.requerimientos | keyvalue)">
                          {{ item.key }}: {{ item.value }}
                        </div>
                      </div>
                    </td>

                    <!-- Duración -->
                    <td class="p-3 text-center">
                      <span class="">{{ orden.tipo.duracionDias }}</span>
                    </td>

                    <!-- Coordenadas -->
                    <td class="p-3 text-center">
                      <span class="text-gray-700">
                        ({{ orden.coordenada.x }}, {{ orden.coordenada.y }})
                      </span>
                    </td>

                    <!-- Fechas -->
                    <td class="p-3 text-center">
                      <span class=" text-light-inverse text-md/normal">
                        {{ orden.fechaInicioProgramada }}
                      </span>
                    </td>
                    <td class="p-3 text-center">
                      <span class=" text-light-inverse text-md/normal">
                        {{ orden.fechaFinProgramada }}
                      </span>
                    </td>

                    <!-- Estado -->
                    <td class="p-3 text-center">
                      <span
                        class="text-center align-baseline inline-flex px-4 py-2 items-center font-semibold text-[.9rem] leading-none rounded-lg"
                        [ngClass]="orden.estado | colorEstado">
                        {{ orden.estado | nameEstado}}
                      </span>
                    </td>


                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="inline-block min-w-full shadow rounded-lg overflow-x-auto">


            <app-paginator-table *ngIf="pagination" [pagination]="pagination"
              (paginationEvent)="orderPagination($event)"></app-paginator-table>
          </div>
        </ng-container>



        <ng-container *ngIf="!ordenes">
          <app-information message="No existen ordenes para mostrar."></app-information>

        </ng-container>
      </div>
    </div>
  </div>
</div>