@import "tailwindcss";
.mat-color{
    color: #6B7280

}
.example-tab-icon {
  margin-right: 8px;
  color: #6B7280
}

.icon-error{
    color: #B91C1C; 
}
.icon-color{
    color:  #06b6d4; 
}
.icon-warning{
    color: #B45309;
}
.icon-done{
    color: #15803D;
}
ul {
    list-style-type: none;
    margin: 0; 
    padding: 0;
}
.mdc-snackbar--success {
    --mdc-snackbar-container-color:  #DCFCE7;
    --mdc-snackbar-supporting-text-color: #15803D; 
}
.mdc-snackbar--success .mdc-snackbar__label {
    font-weight: bold !important; 
}

.mdc-snackbar--success .mdc-snackbar__action {
    font-weight: bold !important; 
    color: #15803D !important; 
}

.mdc-snackbar--error {
  --mdc-snackbar-container-color: #FEE2E2;
  --mdc-snackbar-supporting-text-color: #B91C1C;
   
}

.mdc-snackbar--error .mdc-snackbar__label {
  font-weight: bold !important;
 }

.mdc-snackbar--error .mdc-snackbar__action {
  font-weight: bold;
  color: #B91C1C !important;
}

.mdc-snackbar--warning {
    --mdc-snackbar-container-color:#FEF9C3;
    --mdc-snackbar-supporting-text-color: #B45309;
}
.mdc-snackbar--warning .mdc-snackbar__label {
  font-weight: bold !important;
 }

.mdc-snackbar--warning .mdc-snackbar__action {
  font-weight: bold;
  color: #B45309 !important;
}
.mdc-snackbar--info {
    --mdc-snackbar-container-color:#DBEAFE;
    --mdc-snackbar-supporting-text-color: #1D4ED8;
}
.mdc-snackbar--info .mdc-snackbar__label {
  font-weight: bold !important;
 }

.mdc-snackbar--info .mdc-snackbar__action {
  font-weight: bold;
  color: #1D4ED8 !important;
}

.example-action-buttons {
  padding-bottom: 20px;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-mdc-form-field + .mat-mdc-form-field {
  margin-left: 8px;
}
.custom-dialog-full-width .mat-dialog-container {
  width: 100vw !important;
  max-width: 100vw !important;
  height: 100vh !important;
  padding: 0 !important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
